.panel_style{
    font-size:14px;
}

.pad_zero{
    padding:0px;
}

.panel-title{
	overflow-x: scroll;
}

.locations {
    padding: 4px 6px 6px 6px;
}

.map_error {
    color: #ffffff;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}
